* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 540px;
	background-color: rgb(215, 213, 212);
}

h1 {
	margin-left: 39%;
}

.knowledge {
	font-size: 17px;
	font-weight: 700;
}

h3 {
	color: darkslategrey;
	margin-left: 22%;
}

footer {
	width: 100%;
	height: 80px;
	background-color: aqua;
	bottom: 0;
}

.interns {
	left: 36%;
	top: 16px;
}

.allStudents {
	left: 14%;
	top: 16px;
}

li {
	line-height: 2.3;
	font-size: 17px;
	font-weight: 600;
}
